<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>첫 페이지</h1>
    <p>Flask로 만든 사이트에 오신것을 환영합니다.</p>
    <p>
        <a href="login">로그인</a> |
        <a href="calcul">계산기</a>
    </p>
    <hr>
    <img src="{{ url_for('static', filename='images/aaa.jpg') }}" class="image">
</body>
</html>